body {
  font-family: "Proza Libre", sans-serif;
  background-color: rgb(240, 240, 240);
}

label {
  line-height: 2;
  font-weight: 500;
}

header {
  background-color: rgb(85, 43, 129);
}

.page-header {
  line-height: 1;
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.align-content {
  align-items: center;
  justify-content: center;
}

h1 {
  color: rgb(41, 41, 41);
}

.placeholder-image {
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 0.8rem;
  width: 100%;
}

.input-style {
  padding-left: 0.5rem;
  line-height: 1.8;
  border: 0.1rem solid rgb(205, 204, 205);
  border-radius: 0.2rem;
  margin-bottom: 0.8rem;
  width: 100%;
  font-family: "Proza Libre", sans-serif;
}

.input-style:focus {
  outline: 0.05rem solid rgb(85, 43, 129);
  border: 0.1rem solid rgb(85, 43, 129);
}

.button {
  font-size: 1rem;
  line-height: 2;
  background-color: rgb(85, 43, 129);
  color: white;
  border: 0;
  border-radius: 4px;
  padding: 0 0.8rem;
  float: right;
}

.inline {
  display: inline-block;
}

.entry {
  margin-top: 1.5rem;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(70, 35, 109);
}

.journal-entry {
  padding-left: 0;
}

.journal-entry-title {
  margin-top: 0;
  margin-bottom: 0;
}

.no-entry-text {
  text-align: center;
}

p {
  line-height: 1.7;
}

li {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

.nav-link {
  line-height: 1;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding-left: 1.5rem;
}

.icon {
  color: rgb(113, 87, 140);
  float: right;
  font-size: 1.6rem;
}

.icon:hover {
  cursor: pointer;
  color: rgb(85, 43, 129);
}

.delete {
  color: rgb(223, 61, 62);
  text-decoration: underline;
}

.delete:hover {
  cursor: pointer;
  color: rgb(206, 56, 56);
}

.modal-container {
  width: 23rem;
  background-color: rgb(255, 255, 255);
  height: 9rem;
  padding-top: 1rem;
  border-radius: 4px;
  position: absolute;
  top: 15rem;
  box-shadow: 0 4px 8px rgb(57, 57, 57);
}

.modal-text {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 500;
}

.cancel {
  background-color: rgb(206, 206, 206);
  color: rgb(41, 41, 41);
  font-weight: 500;
  float: left;
  margin-left: 1rem;
}

.confirm {
  background-color: rgb(223, 61, 62);
  font-weight: 500;
  margin-right: 1rem;
}

.overlay {
  background-color: rgba(49, 49, 49, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cancel:hover {
  background-color: rgb(189, 189, 189);
}

.confirm:hover {
  background-color: rgb(206, 56, 56);
}

@media screen and (min-width: 768px) {
  .placeholder-image {
    height: 400px;
  }

  .journal-entry {
    padding-left: 2rem;
  }
}
