body {
  font-family: "Proza Libre", sans-serif;
  background-color: rgb(240, 240, 240);
}

label {
  line-height: 2;
  font-weight: 500;
}

header {
  background-color: rgb(85, 43, 129);
}

.page-header {
  line-height: 1;
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.align-content {
  align-items: center;
}

h1 {
  color: rgb(41, 41, 41);
}

.placeholder-image {
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 0.8rem;
  width: 100%;
}

.input-style {
  padding-left: 0.5rem;
  line-height: 1.8;
  border: 0.1rem solid rgb(205, 204, 205);
  border-radius: 0.2rem;
  margin-bottom: 0.8rem;
  width: 100%;
  font-family: "Proza Libre", sans-serif;
}

.input-style:focus {
  outline: 0.05rem solid rgb(85, 43, 129);
  border: 0.1rem solid rgb(85, 43, 129);
}

.button {
  font-size: 1rem;
  line-height: 2;
  background-color: rgb(85, 43, 129);
  color: white;
  border: 0;
  border-radius: 4px;
  padding: 0 1rem;
  float: right;
}

.inline {
  display: inline-block;
}

.entry {
  margin-top: 1.5rem;
}

.button:hover {
  cursor: pointer;
}

.journal-entry {
  padding-left: 0;
}

.journal-entry-title {
  margin-top: 0;
  margin-bottom: 0;
}

.no-entry-text {
  text-align: center;
}

p {
  line-height: 1.7;
}

li {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .placeholder-image {
    height: 400px;
  }

  .journal-entry {
    padding-left: 2rem;
  }
}

a {
  text-decoration: none;
}

.nav-link {
  line-height: 1;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding-left: 1.5rem;
}

.icon {
  color: rgb(113, 87, 140);
  float: right;
  font-size: 1.6rem;
}

.icon:hover {
  cursor: pointer;
  color: rgb(85, 43, 129);
}
